.hoursOfOperation {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #00000069;
  white-space: nowrap;
  width: min-content;
  padding: 1rem;
  border-radius: 0.5rem;
  font-size: var(--fontSize3);
  .title {
    font-size: calc(var(--fontSize3) * 1.3);
    font-weight: 900;
  }
  .hours {
    .day {
      font-weight: 800;
    }
    .time {
    }
  }
}
