.creditsLink {
  cursor: pointer;
  transition: color 0.3s ease-out;
}
.creditsLink:hover {
  color: rgb(
    from var(--clrTomatoRed) calc(r * 0.8) calc(g * 0.8) calc(b * 0.8)
  );
}

.creditsPopover {
  margin: auto;
  width: min(650px, 90dvw);

  .inner {
    height: 100%;
    button {
      width: min(60px, 10dvw);
      height: min(60px, 10dvw);
      flex-shrink: 1;
      border-radius: 0.5em;

      svg {
        width: 100%;
        height: 100%;
      }
    }
  }
}

.creditsPopover:popover-open {
  .inner {
    display: flex;
    flex-direction: column;
    height: 100%;

    button {
      align-self: flex-end;
    }
  }
}
