.location {
  display: grid;
  grid-template: auto min-content auto / auto min-content;
  font-size: var(--fontSize2);
  column-gap: 1rem;
  background-color: var(--clrTransparentBG);
  padding: 1rem;
  border-radius: 0.5rem;

  .title {
    grid-area: 1/1/2/2;
    text-align: center;
    align-self: flex-end;
    font-weight: 900;
    user-select: none;
  }

  hr {
    grid-area: 2/1/3/2;
    border: solid 2px rgb(from var(--clrText) r g b / 0.3);
    width: 100%;
    height: 2px;
    align-self: center;
    border-radius: 1rem;
  }

  address {
    grid-area: 3/1/-1/2;
    font-size: calc(var(--fontSize2) * 0.8);
  }

  .map {
    grid-area: 1/2/-1/-1;
    width: min(20dvw, 150px);
    height: min(20dvw, 150px);
    align-self: center;

    iframe {
      width: 100%;
      height: 100%;
    }
  }
}
