.bookReservation {
  display: grid;
  grid-template: auto auto / auto 20%;
  align-items: center;
  background-color: var(--clrTransparentBG);
  padding: 1rem;
  border-radius: 0.5rem;

  p {
    font-size: var(--fontSize3);
  }

  .bookBtn {
    grid-column: 2/-1;
    grid-row: 1/-1;
    height: min(60px, 100%);
    width: min(60px, 100%);
    display: flex;
    justify-self: center;
    align-self: center;
    border-radius: 0.3rem;
    background-color: var(--clrButtonGreen);
    box-shadow: inset 0 0 5px 2px #000;
    padding: 0.2rem;

    svg {
      width: 100%;
      height: 100%;
      fill: rgb(from var(--clrText) calc(r * 0.8) calc(g * 0.8) calc(b * 0.8));
    }
  }
}
