.bookReservation {
  display: grid;
  grid-template: auto auto / auto 20%;
  align-items: center;
  background-color: var(--clrTransparentBG);
  padding: 1rem;
  border-radius: 0.5rem;

  p {
    font-size: var(--fontSize3);
  }
  p:first-of-type {
    font-size: calc(var(--fontSize3) * 1.2);
    font-weight: 900;
  }

  .bookBtn {
    grid-column: 2/-1;
    grid-row: 1/-1;
    height: min(60px, 100%);
    width: min(60px, 100%);
    display: flex;
    justify-self: center;
    align-self: center;
    border-radius: 0.3rem;
    background-color: var(--clrButtonGreen);
    padding: 0.2rem;
    cursor: pointer;

    svg {
      width: 100%;
      height: 100%;
      fill: #111;
    }
  }
}
