.navButton {
  filter: drop-shadow(2px 4px 5px #000000d7);
  transition: scale 0.3s ease-out;

  button {
    width: calc(var(--fontSize1) * 2.5);
    height: calc(var(--fontSize1) * 2.5);
    background-image: url("../../assets/images/tomatoSlice.webp");
    background-size: 100% 100%;
    background-color: transparent;
    border-radius: 50%;
    position: relative;
    cursor: pointer;

    span {
      background-color: #000000ab;
      clip-path: var(--cutClipPath2);
      display: block;
      height: min-content;
      position: absolute;
      top: calc(0px + 30%);
      left: 50%;
      translate: -50% 0;
      font-size: calc(var(--fontSize3) * 1.1);
      padding: 0.1rem 0.2rem;
      border-radius: 0.2rem;
      font-weight: 900;
    }
  }
}

.navButton.selected {
  button {
    animation: bite 1s linear forwards;
    mask-size: cover;
    mask-composite: intersect;
  }
}
.navButton.selected::after {
  content: "";
  position: absolute;
  bottom: -10%;
  left: 0%;
  width: 100%;
  height: 100%;
  background:
    radial-gradient(circle, rgba(146, 48, 48, 0.315) 50%, transparent 70%),
    radial-gradient(ellipse 8% 15% at 65% 70%, #ffeb93 30%, transparent 50%),
    radial-gradient(ellipse 8% 12% at 40% 65%, #ffeb93 30%, transparent 50%),
    radial-gradient(ellipse 70% 30% at 40% 85%, #fcfcfc96 5%, transparent 20%);
  filter: drop-shadow(0px 0px 4px rgba(0, 0, 0, 0.3));
  transform: scaleX(0.9);
  z-index: -1;
  opacity: 0;
  animation: juiceOut 1s ease-out 1s forwards;
}

.navButton:hover {
  scale: 1.1;
}

@keyframes bite {
  0% {
  }
  15% {
    scale: 1;
  }
  20% {
    scale: 1.1;
  }
  22% {
    scale: 1.1;
    mask-image: radial-gradient(circle at 85% 90%, transparent 20%, black 21%);
  }
  24% {
    scale: 1.1;
  }
  29% {
    scale: 1;
  }
  34% {
    scale: 1;
  }
  39% {
    scale: 1.1;
  }
  41% {
    scale: 1.1;
    mask-image:
      radial-gradient(circle at 85% 90%, transparent 20%, black 21%),
      radial-gradient(circle at 50% 85%, transparent 25%, black 26%);
    mask-composite: intersect;
  }
  43% {
    scale: 1.1;
  }
  48% {
    scale: 1;
  }
  53% {
    scale: 1;
  }
  58% {
    scale: 1.1;
  }
  90% {
    scale: 1.1;
    mask-image:
      radial-gradient(circle at 85% 90%, transparent 20%, black 21%),
      radial-gradient(circle at 50% 85%, transparent 25%, black 26%),
      radial-gradient(circle at 20% 95%, transparent 20%, black 21%);
    mask-composite: intersect;
  }
  92% {
    scale: 1.1;
  }

  100% {
    scale: 1;
    mask-image:
      radial-gradient(circle at 85% 90%, transparent 20%, black 21%),
      radial-gradient(circle at 50% 85%, transparent 25%, black 26%),
      radial-gradient(circle at 20% 95%, transparent 20%, black 21%);
    mask-composite: intersect;
  }
}
@keyframes juiceOut {
  from {
    opacity: 0;
    scale: 0.2 0.1;
  }
  to {
    opacity: 1;
    scale: 0.7 0.7;
  }
}
