.title {
  background-color: #000000ab;
  width: min-content;
  height: min-content;
  white-space: nowrap;
  padding: 0.2rem;
  clip-path: var(--cutClipPath1);
  .inner {
    background-color: #00000063;
    width: 100%;
    height: 100%;
    padding: 0.4rem 1.5rem;
    clip-path: var(--cutClipPath1);
    p {
      font-size: var(--fontSize1);
    }
  }
}
