.dailySpecials {
  background-color: #ffffff56;
  padding: 0.5rem;
  border-radius: 0.5rem;
  display: grid;
  grid-template-rows: min-content;
  grid-template-columns: repeat(auto-fit, minmax(180px, 45%));
  justify-content: center;
  background-color: #00000069;
  border-radius: 0.5rem;
  gap: 0.4rem;
  padding: 0.4rem;
  outline: solid 0.15rem rgb(from var(--clrTomatoRed) r g b / 0.5);
  user-select: none;

  .titleCont {
    grid-column: 1 / -1;
    width: 100%;
    justify-items: center;
    .title {
      font-size: var(--fontSize3);
      font-weight: 900;
      color: var(--clrTomatoRed);
    }
    .discount {
      font-size: calc(var(--fontSize3) * 0.9);
      color: rgb(from var(--clrTomatoRed) r g b / 0.8);
    }
  }

  .special {
    background: radial-gradient(
      ellipse closest-corner,
      rgb(from var(--clrTomatoRed) r g b / 0.2) 10%,
      transparent 70%
    );
    border-radius: 0.2rem;
    padding: 0.3rem;
    justify-items: center;
    .day {
      font-size: calc(var(--fontSize3) * 0.9);
      font-style: italic;
      color: var(--clrTomatoRed);
    }
    .dish {
      font-size: var(--fontSize3);
      font-weight: 900;
      white-space: nowrap;
      color: var(--clrTomatoRed);
    }
  }

  .special:last-of-type {
    grid-column: 1 / -1;
    justify-self: center;
    width: max(180px, 45%);
  }
}
